#search {
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 2em;
}

#search-box {
	/*width: 60%;*/
}

#results {
    /* border: 1px solid silver; */
    margin: 0 auto;
    width: 80%;
    padding-left: 25px;
    min-width: 380px;
}


/* FLEXBOX STUFF */

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  


.flex-item {
  margin: 10px;
  line-height: 50px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
}

/* form styling */
#query {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}

button {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color: #207cca;
  color: #fafafa;
}
button:hover  {
  background-color: #fafafa;
  color: #207cca;
}
