#search {
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 2em;
}

#search-box {
	width: 60%;
	size: 500;
	padding: 50px;
}

#results {
    border: 1px solid silver;
    margin: 0 auto;
    width: 95%;
}


/* FLEXBOX STUFF */

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  


.flex-item {
  margin: 10px;
  line-height: 50px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
}

/* MEDIA QUERIES*/
